
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
pubspec.lock
.dart_tool/flutter_build/28b1eb67f39ca34cadae88fb852803c8/.filecache
*.dill
*.stamp
*.d
*.json
.dart_tool/flutter_build/88246c1f3704d81980c127628e746c0c/.filecache
.dart_tool/flutter_build/88246c1f3704d81980c127628e746c0c/App.framework.dSYM/Contents/Resources/DWARF/App
.dart_tool/flutter_build/88246c1f3704d81980c127628e746c0c/App.framework/App
.dart_tool/flutter_build/88246c1f3704d81980c127628e746c0c/arm64/App.framework.dSYM/Contents/Info.plist
.dart_tool/flutter_build/88246c1f3704d81980c127628e746c0c/arm64/App.framework.dSYM/Contents/Resources/DWARF/App
.dart_tool/flutter_build/88246c1f3704d81980c127628e746c0c/arm64/App.framework/App
.dart_tool/flutter_build/88246c1f3704d81980c127628e746c0c/arm64/snapshot_assembly.o
.dart_tool/flutter_build/88246c1f3704d81980c127628e746c0c/arm64/snapshot_assembly.S
.dart_tool/flutter_build/b3de603bd347067f0de9f059f8a807e3/.filecache
.dart_tool/flutter_build/b3de603bd347067f0de9f059f8a807e3/App.framework/App
.idea/libraries/Dart_SDK.xml
.idea/libraries/KotlinJavaRuntime.xml
.idea/modules.xml
.idea/runConfigurations/main_dart.xml
.idea/workspace.xml
.metadata
